<% current_screen = device.current_screen %>

<li id="<%= device.id %>" class="bit-card device">
  <h2 class="label"><%= device.label %></h2>

  <%= render "shared/popovers/triggers/preview", name: "preview-#{current_screen.id}" do %>
    <%= render "shared/screen", uri: current_screen.image_uri %>
  <% end %>

  <%= render "shared/popovers/content/preview",
             id: current_screen.id,
             label: current_screen.label,
             uri: current_screen.image_uri,
             width: current_screen.width,
             height: current_screen.height %>

  <div class="bit-pill bit-pill-active">Current Screen</div>

  <%= render "measurements", device: %>

  <div class="actions">
    <%= render "shared/actions/show", path: routes.path(:device, id: device.id) %>
    <%= render "shared/actions/edit", path: routes.path(:device_edit, id: device.id) %>
    <%= render "shared/actions/logs", path: routes.path(:device_logs, device_id: device.id) %>

    <%= render "shared/actions/delete",
               path: routes.path(:device_delete, id: device.id),
               subject: :device %>
  </div>
</li>
