<%= render "shared/title", text: "Edit #{device.label} Device" %>

<section class="page-devices">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><%= link_to "Devices", routes.path(:devices), class: :link %></li>

      <li class="bit-breadcrumb">
        <%= link_to device.label, "/devices/#{device.id}", class: :link %>
      </li>

      <li class="bit-breadcrumb">Edit</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="bit-card device">
      <h1 class="label">Edit Device</h1>

      <%= render "shared/screen", uri: device.image_uri %>
      <%= render "measurements", device: %>

      <form action="/devices" method="put" class="bit-form">
        <%= render :fields, models:, playlists:, device:, fields: fields.value, errors: %>

        <div class="form-actions">
          <%= render "save_button", verb: :put, path: "/devices/#{device.id}" %>

          <a href="<%= routes.path :device, id: device.id %>"
             class="bit-button-decline"
             hx-get="<%= routes.path :device, id: device.id %>"
             hx-trigger="click"
             hx-target="closest .page-devices"
             hx-swap="outerHTML"
             hx-push-url="true">
             Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</section>
