<%= render "shared/title", text: "Firmware" %>

<section class="bit-page">
  <header class="bit-header">
    <h1 class="label">
      Firmware
      <%= render "shared/popovers/trigger", name: :overview, width: 20, height: 20 %>
    </h1>

    <div class="bit-actions">
      <%= render "shared/search",
                 path: routes.path(:firmware),
                 query:,
                 pick: ".bit-container",
                 target: "next .bit-container" %>

      <%= render "shared/actions/delete",
                 path: routes.path(:bulk_firmware_delete),
                 label: "Delete All",
                 class: "bit-button-delete",
                 confirm: "Are you sure you want to delete all firmware?",
                 target: ".bit-container" %>
    </div>
  </header>

  <%= scope(:popover_content, name: :overview, label: "Overview").render do %>
    <p>This is where you can manage the firmware updates for your device(s). New versions will automatically appear via the Firmware Poller (see Terminus project documentation for details).</p>

    <p>To revert to a previous version, temporarily disable the Firmware Poller and your devices will downgrade when the next waking. Alternatively, you can disable the Firmware Poller and short press the button on the back of your devices to force a revert.</p>

    <h2 class="label">Search</h2>

    <p>You can fuzzy search by version using partial or full version information.</p>
  <% end %>

  <div class="bit-container">
    <% if firmware.any? %>
      <table>
        <thead>
          <tr>
            <th>Version</th>
            <th>Size</th>
            <th>Downloaded At</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% firmware.each do |record| %>
            <%= record.render :firmware, firmware: record %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= render "shared/empty", message: "No firmware found." %>
    <% end %>
  </div>
</section>
