<search>
  <%= tag.form(action: path, method: :get, class: "bit-search") do %>
    <input id="search"
           name="query"
           value="<%= query %>"
           class="value"
           hx-get="<%= path %>"
           hx-trigger="search, keyup delay:200ms changed"
           hx-select="<%= pick %>"
           hx-target="<%= target %>"
           hx-swap="outerHTML"
           hx-push-url="true"
           hx-indicator=".bit-loader"/>

      <div class="bit-loader htmx-indicator"></div>
      <input type="submit" value="Search" class="bit-button-accept"/>
      <%= link_to "Clear", path, class: "bit-button-decline" %>
  <% end %>
</search>
