<%= render "shared/title", text: "Dashboard" %>

<section class="page-dashboard">
  <header class="bit-header">
    <h1 class="label">Dashboard</h1>
  </header>

  <div class="widgets">
    <fieldset class="box">
      <legend class="label">
        Devices
        <%= render "shared/popovers/triggers/default", name: :devices %>
      </legend>

      <ul class="devices">
        <% devices.each do |device| %>
          <li class="device">
            <%= link_to(device.label, routes.path(:device, id: device.id)) %>
            <%= render "devices/measurements", device: %>
          </li>
        <% end %>
      </ul>
    </fieldset>

    <fieldset class="box">
      <legend class="label">
        IP Addresses
        <%= render "shared/popovers/triggers/default", name: :ip_addresses %>
      </legend>

      <ul class="list">
        <% ip_addresses.each do |ip| %>
          <%= tag.li ip.address_with_kind, class: "bit-secret" %>
        <% end %>

        <li class="bit-secret"><%= api_uri %> (API)</li>
      </ul>
    </fieldset>

    <fieldset class="box">
      <legend class="label">
        Firmware
        <%= render "shared/popovers/triggers/default", name: :firmware %>
      </legend>

      <ul class="list">
        <% firmwares.select(&:attachment_uri).each do |record| %>
          <li>
            <%= link_to record.version, record.attachment_uri, download: record.attachment_name %> (<%= size record.attachment_size %>)
          </li>
        <% end %>

        <li><a href="https://trmnl.com/flash">Flash</a>: A flashing tool.</li>
        <li><a href="https://tailor.trmnl.com">Tailor</a>: A branding tool.</li>
      </ul>
    </fieldset>
  </div>
</section>

<%= render "popovers" %>
