<% content_for :htmx_merge, "defaultSwapStyle" => "innerHTML" %>

<%= render "shared/title", text: "Designer" %>

<section class="bit-page page-designer">
  <header class="bit-header">
    <h1 class="label">
      Designer
      <%= render "shared/popovers/triggers/default", name: :overview, width: 20, height: 20 %>
    </h1>
  </header>

  <%= scope(:popover_default_content, name: :overview, label: "Overview").render do %>
    <p>Use the text area to design custom screens for your device using pure HTML/CSS. Changes are applied automatically as you make edits and saved as a screen which you can view via the <%= link_to "Screens", routes.path(:screens) %> page.</p>
  <% end %>

  <div class="designer">
    <figure class="device"
            hx-ext="sse"
            sse-connect="/preview/<%= name %>"
            sse-swap="preview">
      <%= image_tag "loader.svg", alt: "Loader", width: 800, height: 480 %>
    </figure>

    <%= form_for :template, routes.path(:designer), class: :form do |form| %>
      <%= form.hidden_field :name, value: name %>
      <%= form.hidden_field :label, value: label %>

      <%= form.text_area :content,
                         render(:welcome),
                         class: :source,
                         autocomplete: :off,
                         **HTMX[
                           post: routes.path(:designer),
                           trigger: "load, keyup delay:200ms",
                           swap: "textContent"
                         ] %>
    <% end %>
  </div>
</section>
