<fieldset class="column">
  <%= scope(:form_field, key: :label, errors:).render do %>
    <label class="key" for="playlist_label">Label</label>

    <%= form.text_field :label,
                        id: :playlist_label,
                        value: field_for(:label, fields, playlist),
                        class: :value,
                        autocomplete: :off %>
  <% end %>

  <%= scope(:form_field, key: :name, errors:).render do %>
    <label class="key" for="playlist_name">Name</label>

    <%= form.text_field :name,
                        id: :playlist_name,
                        value: field_for(:name, fields, playlist),
                        class: :value,
                        autocomplete: :off %>
  <% end %>

  <div class="bit-toggle-field" x-data="{mode: '<%= field_for :mode, fields, playlist %>'}">
    <h2 class="bit-toggle-label">Mode</h2>

    <%= render "shared/radios/bar",
               items: [%w[Automatic automatic], %w[Manual manual]],
               name: "playlist[mode]",
               model: "mode" %>

    <p class="help" x-show="mode === 'automatic'">
      Automatically advance screen via device and/or API.
    </p>

    <p class="help" x-show="mode === 'manual'">
      Manually advance screen when viewing screens.
    </p>
  </div>
</fieldset>
