<%= render "shared/title", text: "Extensions" %>

<section class="bit-page page-extensions">
  <header class="bit-header">
    <h1 class="label">
      Extensions
      <%= render "shared/popovers/trigger", name: :overview, width: 20, height: 20 %>
    </h1>

    <div class="bit-actions">
      <%= render "shared/search",
                 path: routes.path(:extensions),
                 query:,
                 pick: ".extensions",
                 target: "next .extensions" %>

      <a href="/extensions/new"
         class="bit-button-accept"
         hx-get="/extensions/new"
         hx-trigger="click, keyup[ctrlKey&&key=='n'] from:body"
         hx-target="closest .page-extensions"
         hx-push-url="true">
        New
      </a>
    </div>
  </header>

  <%= scope(:popover_content, name: :overview, label: "Overview").render do %>
    <p>Extensions allow you to extend existing functionality with custom behavior. These are an enhanced version of what you get when using <a href="https://usetrmnl.com/integrations">Core Plugins</a>.</p>

    <h3 class="label">Search</h3>

    <p>You can fuzzy search by extension label using partial or full label.</p>

    <h3 class="label">Keyboard Shortcuts</h3>

    <ul>
      <li><kbd>CONTROL + n</kbd>: New extension.</li>
      <li><kbd>CONTROL + s</kbd>: Save extension (when within form).</li>
    </ul>
  <% end %>

  <% if extensions.any? %>
    <ul class="bit-gallery extensions">
      <% extensions.each do |extension| %>
        <%= extension.render :extension %>
      <% end %>
    </ul>
  <% else %>
    <div class="extensions">
      <%= render "shared/empty", message: "No extensions found." %>
    </div>
  <% end %>
</section>

