<%= render "shared/title", text: "Edit #{model.label} Model" %>

<section class="page-models">
  <header class="page-header">
    <ul class="site-breadcrumbs">
      <li class="breadcrumb"><%= link_to "Models", routes.path(:models), class: :link %></li>
      <li class="breadcrumb">
        <%= link_to model.label, routes.path(:model, id: model.id), class: :link %>
      </li>
      <li class="breadcrumb">Edit</li>
    </ul>
  </header>

  <div class="page-body">
    <div class="models">
      <form action="<%= routes.path :model_update, id: model.id %>"
            method="put"
            class="model page-form">

        <h1 class="label">Edit Model</h1>

        <%= render :fields, model:, fields: fields.value, errors: %>

        <div class="form-actions">
          <%= render "save_button", verb: :put, path: routes.path(:model, id: model.id) %>

          <a href="<%= routes.path :model, id: model.id %>"
             class="button-decline"
             hx-get="<%= routes.path :model, id: model.id %>"
             hx-trigger="click"
             hx-target="closest .page-models"
             hx-swap="outerHTML"
             hx-push-url="true">
             Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</section>
