<% screen = item.screen %>

<div class="show_item">
  <%= render "shared/popovers/triggers/preview", name: "preview-#{screen.id}" do %>
    <%= render "shared/screen", uri: screen.image_uri %>
  <% end %>

  <%= render "shared/popovers/content/preview",
             id: screen.id,
             label: screen.label,
             uri: screen.image_uri,
             width: screen.width,
             height: screen.height %>

  <div class="labels">
    <%= link_to item.screen.label, routes.path(:screen, id: item.screen.id) %>
    <%= playlist.current_screen_pill item %>
  </div>
</div>
