<%= render "shared/title", text: "Clone Playlist" %>

<section class="bit-page page-playlists">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb">
        <%= link_to "Playlists", routes.path(:playlists), class: :link %>
      </li>

      <li class="bit-breadcrumb">Clone</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="playlists">
      <form action="<%= routes.path :playlist_clone_create, playlist_id: playlist.id %>"
            method="post"
            class="bit-card bit-form playlist">

        <%= tag.input name: :_csrf_token, type: :hidden, value: csrf_token %>

        <h1 class="label">Clone Playlist</h1>

        <%= render "playlists/shared/fields", playlist:, fields: fields.value, errors: %>

        <div class="form-actions">
          <%= tag.input type: :submit, value: "Save", class: "bit-button-accept" %>
          <%= link_to "Cancel", routes.path(:playlists), class: "bit-button-decline" %>
        </div>
      </form>
    </div>
  </div>
</section>
